:root {
    --PrimaryDark: #020202;
    --SecondaryDark: #724E2C;
    --PrimaryLight: #FFFFF4;
    --PrimaryBorder: 1px solid var(--PrimaryDark);
    --PrimaryMargin: 20px auto;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  animation: fadeUp 1s ease-out;
}



@media screen and (min-width: 768px){
    header {
        background-color: var(--SecondaryDark);
        border: var(--PrimaryBorder);
        color: var(--PrimaryLight);

        div {
            text-align: center;

            a {
                border: var(--PrimaryBorder);
                background-color: var(--PrimaryLight);
                color: var(--PrimaryDark);
            }
        }
    }

    p{
        color: var(--PrimaryDark);
    }

    h4{
        color: var(--PrimaryDark);
    }

    h1 {
        color: var(--PrimaryDark);
    }

    main{
        flex: 1;
    }

    section {
        display: flex;
    }

    footer {
        background-color: var(--SecondaryDark);
        border: var(--PrimaryBorder);

        div {
            text-align: center;

            a {
                border: var(--PrimaryBorder);
                background-color: var(--PrimaryLight);
                color: var(--PrimaryDark);
                align-items: center;
            }
        }
    }

    h2 {
    background-color: var(--SecondaryDark);
    color: var(--PrimaryLight);
    padding: 12px 20px;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
    text-decoration: underline;
    }


    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: sans-serif;
        background-color: var(--PrimaryLight);
    }

    li {
        font-weight: bold;
        text-decoration: underline;
    }

    .box-section {
        display: flex;
        flex-direction: column;
    }

    .box {
        border: var(--PrimaryBorder);
        display: block;
        width: 100%;
        box-sizing: border-box;
    }


    .boxed-image {
        display: block;
        width: 100%;
        flex-shrink: 1;

        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }

        img {
            border: var(--PrimaryBorder);
            padding: 2px;
            box-shadow: 5px 5px 10px var(--PrimaryDark);
        }

        p {
            text-decoration: underline wavy var(--SecondaryDark);
            font-weight: bold;
            font-family: cursive;
            color: var(--SecondaryDark);
            font-size: 1.4em;
        }
    }

    a:active {
        font-style: italic;
        border-block-end: solid var(--SecondaryDark);
    }

    dt {
        align-items: center;
    }

    section table{
        border: var(--PrimaryBorder);
        border-collapse: collapse;
        margin: var(--PrimaryMargin);
        width: fit-content;
        color: var(--PrimaryDark);
    }

    .hours-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    th{
        border: var(--PrimaryBorder);
        padding: 5px;
    }

    td{
        border: var(--PrimaryBorder);
        padding: 5px;
    }

    .rabbit{
        margin: var(--PrimaryMargin);
        width: fit-content;
        justify-self: center;
    }

    .pages {
    display: inline-block;
    white-space: nowrap;
    }
    
    .bold{
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        padding: 8px;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .law {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .columns {
        grid-column: 2;
        text-align: left;
        margin: 0 auto;
    }

    .Soul{
        display: flex;
    }

    ul li {
        list-style: none;
        padding-left: 25px;
        background-image: url('../images/gavelButton.png');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: left center;
    }

    video{
        max-width: 100%;
        height: auto;;
    }

    form{
        color: var(--PrimaryDark);
    }
}

@media screen and (min-width: 350px) and (max-width: 768px) {
    header {
        background-color: var(--SecondaryDark);
        border: var(--PrimaryBorder);
        color: var(--PrimaryLight);

        div {
            text-align: center;

            a {
                border: var(--PrimaryBorder);
                background-color: var(--PrimaryLight);
                color: var(--PrimaryDark);
            }
        }
    }

    p{
        color: var(--PrimaryDark);
    }

    h4{
        color: var(--PrimaryDark);
    }

    h1 {
        color: var(--PrimaryDark);
    }

    form{
        color: var(--PrimaryDark);
    }

    section {
        display: flex;
        flex-grow: 1;
    }

    footer {
        background-color: var(--SecondaryDark);
        border: var(--PrimaryBorder);

        div {
            text-align: center;

            a {
                border: var(--PrimaryBorder);
                background-color: var(--PrimaryLight);
                color: var(--PrimaryDark);
                align-items: center;
            }
        }
    }

    h2 {
    background-color: var(--SecondaryDark);
    color: var(--PrimaryLight);
    padding: 12px 20px;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
    text-decoration: underline;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: sans-serif;
        background-color: var(--PrimaryLight);
    }

    li {
        font-weight: bold;
        text-decoration: underline;
    }

    .box-section {
        display: flex;
        flex-direction: column;
    }

    .box {
        border: var(--PrimaryBorder);
        display: block;
        width: 100%;
        box-sizing: border-box;
    }


    .boxed-image {
        display: block;
        width: 100%;
        flex-shrink: 1;

        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }

        img {
            border: var(--PrimaryBorder);
            padding: 2px;
            box-shadow: 5px 5px 10px var(--PrimaryDark);
        }

        p {
            text-decoration: underline wavy var(--SecondaryDark);
            font-weight: bold;
            font-family: cursive;
            color: var(--SecondaryDark);
            font-size: 1.4em;
        }
    }

    a:active {
        font-style: italic;
        border-block-end: solid var(--SecondaryDark);
    }

    dt {
        align-items: center;
    }

    table{
        border: var(--PrimaryBorder);
        block-size: max;
        border-collapse: collapse;
        margin: var(--PrimaryMargin);
        width: fit-content;
        color: var(--PrimaryDark)
    }

    th{
        border: var(--PrimaryBorder);
        padding: 5px;
    }

    td{
        border: var(--PrimaryBorder);
        padding: 5px;
    }

    .pages {
    display: inline-block;
    white-space: nowrap;
    }

    .rabbit{
        display: none;
    }

    .bold{
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        padding: 8px;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .law {
    display: grid;
    justify-items: center;
    }

    .columns {
    max-width: 800px;
    width: 100%;
    padding: 0 30px;
    text-align: left;
    }


    .hide{
        display: none;
    }

    .Soul{
        display: flex;
    }    

    ul li {
        list-style: none;
        padding-left: 25px;
        background-image: url('../images/gavelButton.png');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: left center;
    }

    video{
        max-width: 100%;
        height: auto;;
    }

}

@media (prefers-color-scheme: dark) {
  :root {
    --PrimaryLight: #020202;
    --PrimaryDark: #FFFFF5;
    --SecondaryDark: #a67c52; /*Wanted to put a different color to change it a little */
  }
}

:is(h1, h2, h3, h4) {
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

